
<header>
  <div class="">
    <h1><a class="logo ajax" href="https://checkr.com/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Checkr</font></font></a></h1>

  </div>

  <nav>

    <div class="dropdown">
    <button class="dropbtn">produits</button>
    <div class="dropdown-content">
      <a href="#">Apercu</a>
      <a href="#">Projection</a>
      <a href="#">Conformité</a>
        <a href="#">Sécurité</a>
    </div>
  </div>

  <div class="dropdown">
  <button class="dropbtn">Industries</button>
  <div class="dropdown-content">
    <a href="#">Apercu</a>
    <a href="#">Projection</a>
    <a href="#">Conformité</a>
      <a href="#">Sécurité</a>
  </div>
</div>


<div class="dropdown">
<button class="dropbtn">Ressources</button>
<div class="dropdown-content">
  <a href="#">Apercu</a>
  <a href="#">guides et livres blanc</a>
  <a href="#">FAQ</a>

</div>
</div>

  </nav>

</header>

<img src="gouttes.png" alt="gouttes">
